<button class="info"
  iconStart="@tui.info"
  tuiIconButton
  type="button"
  (click)="open = true"
>
  Show
</button>
<ng-template
  let-observer
  [tuiSheetDialogOptions]="options"
  [(tuiSheetDialog)]="open"
>
  <div class="container">
  <a
    appearance="secondary"
    href="https://github.com/siberianbearofficial/scheduleai"
    iconStart="https://raw.githubusercontent.com/MarsiBarsi/readme-icons/main/github.svg"
    size="l"
    tuiIconButton
    class="tui-space_right-2"
  >
    GitHub
  </a>
  <a
    appearance="secondary"
    href="https://t.me/aleksei_orlov_official"
    iconStart="@tui.mail"
    size="l"
    tuiIconButton
    class="tui-space_right-2"
  >
    Telegram
  </a>
  </div>
  <p>sigma inc., 2025</p>
</ng-template>
