<div class="page">
  <app-header></app-header>

  <div class="chat">
    @for (message of messages$ | async; track message.timestamp) {
      <span class="container" [class.incoming]="message.role == MessageRole.Assistant"
            [class.outgoing]="message.role == MessageRole.User">
        <span tuiMessage [appearance]="message.role == MessageRole.User ? 'user' : 'server'" class="msg">
          <span class="multiline">{{ message.content }}</span>
          <div class="message-time">{{ message.timestamp.format('HH:mm') }}</div>
        </span>
      </span>
    }
  </div>

  <div class="footer-container">
    <div class="search-bar">
      <tui-textfield class="message-input-field">
        <input
          placeholder="Введите сообщение"
          tuiTextfield
          [formControl]="messageInputControl"
          (keydown.enter)="onSubmit()"
        />
      </tui-textfield>
    </div>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
