<div class="page">
  <app-header></app-header>

  <div class="chat">
    @for (message of messages; track message.timestamp) {
<!--      @if (message.sender == 'server') {-->
<!--        <span class="container incoming">-->
<!--          <span-->
<!--            appearance="accent"-->
<!--            tuiMessage-->
<!--          >-->
<!--          <span class="multiline">{{ message.text }}</span>-->
<!--          <div class="message-time">{{ message.timestamp | date:'HH:mm' }}</div>-->
<!--        </span>-->
<!--        </span>-->
<!--      }-->
      <span class="container" [class.incoming]="message.sender === 'server'"
            [class.outgoing]="message.sender === 'user'">
        <span tuiMessage [appearance]="message.sender === 'user' ? 'user' : 'server'" class="msg">
          <span class="multiline">{{ message.text }}</span>
          <div class="message-time">{{ message.timestamp | date:'HH:mm' }}</div>
        </span>
      </span>
    }
  </div>

  <div class="footer-container">
    <div class="search-bar">
      <app-search-bar
        [(ngModel)]="newMessage"
        (enterPressed)="sendMessage()">
      </app-search-bar>
    </div>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
