<div class="page">
  <app-header></app-header>

  <div class="chat">
    @for (message of messages$ | async; track message.timestamp) {
      <app-message [message]="message"></app-message>
    }
  </div>

  <div class="footer-container">
    <div class="input-field-desktop">
      <tui-textfield class="message-input-field">
        <input
          placeholder="Введите сообщение"
          tuiTextfield
          [formControl]="messageInputControl"
          (keydown.enter)="onSubmit()"
        />
      </tui-textfield>
    </div>
    <div class="input-field-mobile">
      <textarea
        class="message-input-field"
        placeholder="Введите сообщение"
        [formControl]="messageInputControl"
        (keydown.enter)="onSubmit()"
      ></textarea>
      <button tuiIconButton type="button" size="m" appearance="flat" iconStart="@tui.send"
              (click)="onSubmit()"></button>
    </div>
  </div>
</div>
