<div class="page">
  <div class="header">
    <div class="logo">
      <app-logo></app-logo>
    </div>
  </div>
  <button class="back"
          tuiButton
          type="button"
          icon="tuiIconChevronLeft"
          routerLink="/"
  >
    < Назад
  </button>
  <div class="schedule-container">
    <div class="schedule">
      @for (pair of mergedPairs$ | async; track pair.startTime) {
        <div class="pair-card">
          <app-pair [pair]="pair"></app-pair>
        </div>
      }
    </div>
    @if (teacher$ | async; as teacher) {
      <div class="teacher-info">
        <div
          tuiAppearance="floating"
          tuiCardLarge
        >
          <header tuiHeader>
            <h2 tuiTitle>{{ teacher.fullName }}</h2>
          </header>

          <img class="teacher-avatar" src="{{ teacher.avatarUrl }}" alt="no data">

          <footer>
            Преподает на кафедрах: {{ teacher.departments }}
          </footer>
        </div>
      </div>
    }
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
