<div class="page">
  <app-header></app-header>
  <div class="filters-container">
    <tui-input-date-range [items]="datePeriods" [formControl]="dateRangeControl">
        Выберите период
    </tui-input-date-range>
  </div>
  <div class="schedule-container">
    <div class="schedule">
      @for (pair of mergedPairs$ | async; track pair.startTime) {
        <div class="pair-card">
          <app-pair [pair]="pair"></app-pair>
        </div>
      }
    </div>
    @if (teacher$ | async; as teacher) {
      <div class="teacher-info">
        <div
          tuiAppearance="floating"
          tuiCardLarge
        >
          <header tuiHeader>
            <h2 tuiTitle>{{ teacher.fullName }}</h2>
          </header>

          <img class="teacher-avatar" src="{{ teacher.avatarUrl }}" alt="no data">

          <footer>
            Преподает на кафедрах: {{ teacher.departments }}
          </footer>
        </div>
      </div>
    }
  </div>
</div>
