<div class="page">
  <app-header></app-header>
  <div class="schedule-container">
    <div class="filters-container">
      <tui-input-date-range [items]="datePeriods" [formControl]="dateRangeControl" class="field">
        Выберите период
      </tui-input-date-range>
      <tui-textfield tuiChevron class="field">
        <input
          [formControl]="orderControl"
          tuiSelect
        />

        <tui-data-list-wrapper
          *tuiTextfieldDropdown
          new
          [items]="orders"
        />
      </tui-textfield>
      <tui-multi-select class="field"
        [formControl]="actTypesControl"
        [tuiTextfieldLabelOutside]="true"
      >
        Типы пар
        <tui-data-list-wrapper
          *tuiDataList
          tuiMultiSelectGroup
          [itemContent]="actTypeCardTemplate"
          [items]="actTypes$ | async"
        />
      </tui-multi-select>
    </div>

    <div class="schedule">
      @for (pair of mergedPairs$ | async; track pair.startTime) {
        <div class="pair-card">
          <app-pair [pair]="pair"></app-pair>
        </div>
      }
    </div>
    @if (teacher$ | async; as teacher) {
      <div class="teacher-info">
        <div
          tuiAppearance="floating"
          tuiCardLarge
        >
          <header tuiHeader>
            <h2 tuiTitle>{{ teacher.fullName }}</h2>
          </header>

          <img class="teacher-avatar" src="{{ teacher.avatarUrl }}" alt="no data">

          <footer>
            Преподает на кафедрах: {{ teacher.departments }}
          </footer>
        </div>
      </div>
    }
  </div>
</div>


	<ng-template
    #actTypeCardTemplate
    let-data
>
    <div class="template">
        {{ data | humanizedActType }}
    </div>
</ng-template>
