.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .header-container {
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;

    .input-area {
      flex-grow: 1;
    }
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }
}
