<div class="container">
  <app-logo></app-logo>
  <label>Учебное заведение:</label>
  <app-university-selector></app-university-selector>
  <label>Группа:</label>
  <app-group-selector></app-group-selector>
  <div class="contacts-container">
    <a
      appearance="secondary"
      href="https://github.com/siberianbearofficial/scheduleai"
      iconStart="https://raw.githubusercontent.com/MarsiBarsi/readme-icons/main/github.svg"
      size="l"
      tuiIconButton
      class="tui-space_right-2"
    >
      GitHub
    </a>
    <a
      appearance="secondary"
      href="mailto:contact@aleksei-orlov.ru"
      iconStart="@tui.mail"
      size="l"
      tuiIconButton
      class="tui-space_right-2"
    >
      Contact
    </a>
  </div>
  <p>sigma inc., 2025</p>
</div>
