@if (message.role == MessageRole.User) {
  <div class="user-message-container">
    <div tuiMessage appearance="primary" class="user-message">
      <span class="multiline">{{ message.text }}</span>
    </div>
  </div>
} @else if (message.role == MessageRole.Assistant) {
  <div class="assistant-message-container">
    <tui-icon icon="@tui.user" [style.font-size.rem]="3"></tui-icon>
    <div class="assistant-content-container">
      <span [innerHtml]="message.text | dompurify"></span>
      <div class="assistant-cards-container">
        @for (pair of message.pairs; track message) {
          <app-pair [pair]="pair"></app-pair>
        }
      </div>
    </div>
  </div>
}
