.user-message-container {
  display: flex;
  justify-content: flex-end;

  .user-message {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-inline-start: 2rem;
  }
}

.assistant-message-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;

  .assistant-header-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 16px;

    .assistant-content-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-height: 48px;
      justify-content: center;
    }
  }

  .assistant-cards-container {
    display: grid;
    gap: 1rem;

    @media (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr); /* 1 карточка в ряд */
    }
    @media (min-width: 901px) {
      grid-template-columns: repeat(2, 1fr); /* 2 карточки в ряд */
    }
  }
}

.multiline {
  white-space: initial;
}
