<div class="page">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="search-container">
    <div class="welcome-word">
      Найдем препода в ВУЗе
    </div>
    <div class="search-bar-container">
      <app-ai-search-bar (search)="onSearch($event)"></app-ai-search-bar>
    </div>
    <div class="selectors">
      <div class="selectors__item">
        <app-group-selector></app-group-selector>
      </div>
      <div class="selectors__item">
        <app-university-selector></app-university-selector>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
