<label>

  <tui-combo-box
    *tuiLet="service.findUniversities(search) | async as filtered"
    [formControl]="control"
    [tuiTextfieldLabelOutside]="true"
    [valueContent]="value"
    [(search)]="search"
  >
    ВУЗ
    <input
      placeholder="ВУЗ"
      tuiTextfieldLegacy
    />
    <ng-template
      #value
      let-item
    >
      <span class="name">{{ item }}</span>
    </ng-template>
    <ng-template tuiDataList>
      <tui-data-list *ngIf="filtered; else loading">
        <button
          *ngFor="let item of filtered"
          tuiOption
          type="button"
          [value]="item.name"
        >
          <span class="name">{{ item }}</span>
        </button>
      </tui-data-list>
      <ng-template #loading>
        <tui-loader class="tui-space_vertical-4" />
      </ng-template>
    </ng-template>
  </tui-combo-box>
</label>
