<button
  tuiCardLarge
  tuiHeader
  tuiSurface="floating"
  type="button"
  [tuiHint]="tooltip"
>
  @if (pair) {
    <h1 class="card" tuiTitle>
      <div class="convenience">
        {{ formatDate(pair.startTime) }}
        <tui-badge
          [appearance]="getAppearance(pair)"
          tuiStatus
        >
          @if (pair.status == MergedPairStatus.Collision) {
            <span>С пропуском пар</span>
          } @else if (pair.status == MergedPairStatus.InGap || pair.waitTime.asMinutes() < 30) {
            Удобно
          } @else {
            Ждать
            <app-duration-label [time]="pair.waitTime"></app-duration-label>
          }
        </tui-badge>
      </div>
      <span tuiSubtitle> {{ pair.discipline }}, {{ humanizeActType(pair.actType) }} </span>
    </h1>
  }
</button>

<ng-template #tooltip>
  @if (pair) {
    @if (pair.status == MergedPairStatus.Collision) {
      <p>Придется пропустить:</p>
      <ul>
        @for (collision of pair.collisions; track collision.startTime) {
          <li>{{ collision.discipline }} ({{ humanizeActType(collision.actType) }})</li>
        }
      </ul>
    } @else if (pair.status == MergedPairStatus.InGap) {
      <p>Во время "окна"</p>
    } @else if (pair.status == MergedPairStatus.BeforePairs) {
      <p>Перед парами: после окончания ждать
        <b>
          <app-duration-label [time]="pair.waitTime"></app-duration-label>
        </b>
      </p>
    } @else {
      <p>После пар: ждать
        <b>
          <app-duration-label [time]="pair.waitTime"></app-duration-label>
        </b>
      </p>
    }
  }
</ng-template>
