.card-container {
  width: 320px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .convenience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .pair-time {
      font-size: 1.2rem;
    }
  }

  .discipline-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .card-bottom-container {
    display: flex;
    justify-content: space-between;

    .pair-groups-label {
      max-width: 150px;
      text-wrap: nowrap;
      overflow: hidden;
    }
  }
}

