<button
  tuiCardLarge
  tuiHeader
  tuiSurface="floating"
  type="button"
  [tuiHint]="tooltip"
>
  @if (pair) {
    <div class="card-container">
      <div class="convenience">
        <h1 tuiTitle class="pair-time">{{ formatDate(pair.startTime) }}</h1>
        <tui-badge
          [appearance]="getAppearance(pair)"
          tuiStatus
        >
          @if (pair.status == MergedPairStatus.Collision) {
            <span>С пропуском пар</span>
          } @else if (pair.status == MergedPairStatus.InGap || pair.waitTime.asMinutes() < 30) {
            Удобно
          } @else {
            Ждать {{ pair.waitTime | durationLabel }}
          }
        </tui-badge>
      </div>
      <span tuiSubtitle> {{ pair.discipline }}, {{ humanizeActType(pair.actType) }} </span>
      <div class="card-bottom-container">
        <span tuiSubtitle class="pair-groups-label">Группы неизвестны</span>
        <span tuiSubtitle>{{ pair.rooms.join(", ") }}</span>
      </div>
    </div>
  }
</button>

<ng-template #tooltip>
  @if (pair) {
    @if (pair.status == MergedPairStatus.Collision) {
      <p>Придется пропустить:</p>
      <ul>
        @for (collision of pair.collisions; track collision.startTime) {
          <li>{{ collision.discipline }} ({{ humanizeActType(collision.actType) }})</li>
        }
      </ul>
    } @else if (pair.status == MergedPairStatus.InGap) {
      <p>Во время "окна"</p>
    } @else if (pair.status == MergedPairStatus.BeforePairs) {
      <p>Перед парами: после окончания ждать
        <b>{{ pair.waitTime | durationLabel }}</b>
      </p>
    } @else {
      <p>После пар: ждать
        <b>{{ pair.waitTime | durationLabel }}</b>
      </p>
    }
  }
</ng-template>
