<button
  tuiCardLarge
  tuiHeader
  tuiSurface="floating"
  type="button"
  [tuiHint]="tooltip"
>
  @if (pair) {
    <div class="card-container">
      <div class="convenience">
        <h1 tuiTitle class="pair-time">{{ formatDate(pair.startTime) }}</h1>
        @if (pair.convenience) {
          <tui-badge
            [appearance]="getAppearance(pair)"
            tuiStatus
          >
            @if (pair.convenience.status == MergedPairStatus.Collision) {
              С пропуском пар
            } @else if (pair.convenience.status == MergedPairStatus.This) {
              Ваша пара
            }
            @else if (pair.convenience.status == MergedPairStatus.InGap || pair.convenience.waitTime.asMinutes() < 30) {
              Удобно
            } @else {
              Ждать {{ pair.convenience.waitTime | durationLabel }}
            }
          </tui-badge>
        }
      </div>
      <span tuiSubtitle> {{ pair.discipline }}, {{ humanizeActType(pair.actType) }} </span>
      <div class="card-bottom-container">
        <span tuiSubtitle class="pair-groups-label">Группы неизвестны</span>
        <span tuiSubtitle>{{ pair.rooms.join(", ") }}</span>
      </div>
    </div>
  }
</button>

<ng-template #tooltip>
  @if (pair.convenience) {
    @if (pair.convenience.status == MergedPairStatus.Collision) {
      <p>Придется пропустить:</p>
      <ul>
        @for (collision of pair.convenience.collisions; track collision.startTime) {
          <li>{{ collision.discipline }} ({{ humanizeActType(collision.actType) }})</li>
        }
      </ul>
    } @else if (pair.convenience.status == MergedPairStatus.InGap) {
      <p>Во время "окна"</p>
    } @else if (pair.convenience.status == MergedPairStatus.This) {
      <p>Это ваша пара</p>
    } @else if (pair.convenience.status == MergedPairStatus.BeforePairs) {
      <p>Перед парами: после окончания ждать
        <b>{{ pair.convenience.waitTime | durationLabel }}</b>
      </p>
    } @else if (pair.convenience.status == MergedPairStatus.AfterPairs) {
      <p>После пар: ждать
        <b>{{ pair.convenience.waitTime | durationLabel }}</b>
      </p>
    } @else {
      <p>???</p>
    }
  }
</ng-template>
