<label>

  <tui-combo-box
    *tuiLet="filtered$ | async as filtered"
    [formControl]="control"
    [stringify]="stringify"
    [tuiTextfieldLabelOutside]="true"
    [search]="search$ | async"
    (searchChange)="search$.next($event)"
  >
    Группа
    <input
      placeholder="Группа"
      tuiTextfieldLegacy
    />
    <tui-data-list-wrapper
      *tuiDataList
      [itemContent]="stringify | tuiStringifyContent"
      [items]="filtered | tuiFilterByInput"
    />
  </tui-combo-box>
</label>
